@font-face {
    font-family: "poppins";
    src: url(./font/Poppins-Regular.ttf);
}

.shohag-img {
    position: absolute;
    top: -500px;
}

.div-nav ul li {
    display: inline-block;
    list-style-type: none;
}

.div-nav ul {
    text-align: end;
}

.div-nav ul li a {
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}

.main-container-1 {
    background-image: linear-gradient(to bottom right, #e67614, #e67614, white, white, white, #e08738, #e08738);
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.img-border {
    height: 650px;
    width: 600px;
    transform: rotate(10deg);
}

.img-1 {
    position: absolute;
    top: 20px;
    right: 120px;
    height: 97vh;
}

.title {
    font-family: poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.dec {
    font-family: poppins;
    font-size: 12px;
}

.search {
    position: relative;
    display: grid;
    align-items: center;
    background-color: wheat;
    width: 420px;
    height: 40px;
    margin-left: 20px;
    border-radius: 54px;
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: 0 solid;
    margin-top: 3px;
}

.box-logo {
    width: 300px;
    height: 300px;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    top: 6px;
    border: 0 solid;
    border-radius: 54px;
    color: white;
    width: 33%;
}

.search-btn:hover {
    color: gainsboro;
}

.box-logo {
    margin-left: 70px;
}

.box-logo-style {
    margin: 15px;
    width: 100px;
}

.box-logo-style img {
    height: 20px;
}

.box-logo-style-1 {
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-logo-style-2 {
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* main container 2 */

.main-container-2 {
    height: auto;
    background-color: #e08738;
}

.main-container-2 hr {
    background-color: red;
    width: 50%;
}

.main-container-2 .service-box div {
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    height: 200px;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}

.main-container-2 .service-box div img {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
}


/* main container 3 */


/* .mapouter {
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    height: 500px;
    width: 600px;
} */

.main-container-3 {
    background-image: linear-gradient(to bottom right, #e08738, #e08738, white, white, white, #e08738);
}

.mapouter iframe {
    width: 80%;
    height: 300px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
}

.main-container-3 small {
    font-size: 12px;
}

.main-container-3 .fast {
    display: grid;
    align-items: center;
}


/* main container 4 */

.main-container-4 {
    background-color: #e08738;
    background-image: linear-gradient(to bottom right, white, white, #e08738, #e08738, #e08738, white, white);
}

@media only screen and (max-width: 1199px) {
    .img-1 {
        right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .search {
        width: 350px;
    }
    .img-1 {
        height: 400px;
        top: 100px;
        right: 10%;
        border: 2px solid #e67614;
        border-left: 0;
        border-top: 0;
    }
    .main-container-1 {
        height: 600px;
    }
    .img-border {
        height: 450px;
        width: 400px;
        transform: rotate(10deg);
    }
}

@media only screen and (max-width: 767px) {
    .div-nav ul {
        text-align: start;
        margin-top: 10px;
    }
    .div-nav ul li a {
        margin-left: 0;
        display: block;
        text-align: start;
        margin-top: 5px;
    }
    .logo {
        margin-top: 2px;
    }
    .img-manu {
        width: 40px;
        height: 40px;
        transition: .5s;
    }
    .div-nav {
        width: 0;
        height: 0;
        overflow: hidden;
        transform: translateX(-300px);
        transition: 1s;
    }
    .img-manu-add {
        width: 55px;
        height: 50px;
        transition: .5s;
    }
    .div-nav-add {
        width: auto;
        height: auto;
        overflow: unset;
        transform: translateX(0px);
        transition: 1s;
    }
    .shohag {
        display: none;
    }
    .main-container-1 {
        height: 820px;
        margin-top: 0;
        padding-top: 0;
    }
    .title {
        font-size: 35px;
    }
    .search {
        width: 100%;
        margin-left: 0;
    }
    .search .row {
        position: relative;
    }
    .box-logo {
        margin-left: 0;
    }
    .img-border {
        height: 250px;
        width: 200px;
        transform: rotate(0);
    }
    .header-img {
        position: relative;
    }
    .header-img h2 {
        position: absolute;
        top: 120px;
        color: #e67614;
    }
    .img-1 {
        position: absolute;
        top: 10px;
        height: 250px;
        right: 10%;
        border: 2px solid #e67614;
        border-left: 0;
        border-top: 0;
    }
    .mapouter iframe {
        width: 100%;
        height: 250px;
        margin-top: 20px;
    }
    .search-btn {
        top: -.5px;
    }
}